.CharacterCard {
    background: var(--secundary-color);
    margin: 0 auto;
    margin-bottom: 5px;
    width: 98vw;
    min-height: 2rem;
    box-sizing: border-box;
    padding: 0 5px;
}

.CharacterCard:hover {
    cursor: pointer;
}

.CharacterCard div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
}