.Button {
    height: 1.5rem;
    padding: 0 10px;
    border-radius: 50px;
    border: none;
}

.Button:hover {
    cursor: pointer;
}

.Button:focus {
    outline: none;
}

.Button.dark {
    background: var(--primary-color);
    color: #fdfdfd;
}