.TextInput {
    border: 1px solid #8d7050;
    padding: .124rem;
    border-radius: 5px;
    min-height: 1.55rem;
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 0px;
    background: #fdfdfd;
    margin-bottom: 1rem;
}

.TextInput label {
    position: absolute;
    background: #fdfdfd;
    top: -.7rem;
    left: 5px;
    padding: 0px 2px;
    font-size: .9rem;
}

.TextInput input {
    border: none;
    width: 100%;
    height: 1rem;
    padding: 0 5px;
}

.TextInput input:focus {
    outline: none;
}