.Header {
    padding: 1.25%;
	padding: 1%;
	background: var(--primary-color);
	color: #fdfdfd;
	border-bottom-right-radius: 100px;
	display: flex;
	margin-bottom: 5px;
	align-items: center;
}

.Header_return {
	margin: 0px 5px;
}

.Header_return:hover {
	cursor: pointer;	
}