.TextArea {
    box-shadow: inset 0px 0px 1px var(--secundary-color);
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 5px 0px;
    background: #fdfdfd;
    padding: 0 5px;
  }

  .TextArea + .TextArea {
    margin-top: 10px;
  }
  
  .TextArea > label {
    position: absolute;
    background: #fdfdfd;
    top: -.6rem;
    left: 10px;
    padding: 0px 5px;
    height: 0rem;
    font-size: .9rem;
    color: #66513b;
  }

  .TextArea_background {
    background: #fdfdfd;
    height: .5rem;
    width: 1rem;
    position: absolute;
    top: -.25rem;
    left: 10px;
  }
  
  .TextArea > textarea {
    margin-top: 5px;
    border: none;
    width: 100%;
    min-height: 1.25rem;
    resize: none;
  }
  
  .TextArea > textarea:focus {
    outline: none;
  }