.TextArea {
    box-shadow: inset 0px 0px 1px var(--secundary-color);
    padding: .124rem;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    min-height: 2rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 5px 0px;
    background: #fdfdfd;
  }
  
  .TextArea > label {
    position: absolute;
    background: #fdfdfd;
    top: -.7rem;
    left: 10px;
    padding: 0px 5px;
  }
  
  .TextArea > textarea {
    margin-top: 5px;
    border: none;
    width: 100%;
    min-height: 1.25rem;
  }
  
  .TextArea > textarea:focus {
    outline: none;
  }